parameters:
    database:
        dbname: foo
        dbname_test: bar

extensions:
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    migrations: Instante\Doctrine\DI\MigrationsExtension

doctrine:
    driver: pdo_mysql
    host: 127.0.0.1
    dbname: php_test_suite_test
    user: root
    password: root
    charset: utf8

migrations:
    directory: "%paths.root%/migrations"
