parameters:
    database:
        dbname: foo
        dbname_test: bar

    doctrineTestDb:
        host: 127.0.0.1
        user: travis
        password: ''
        dbname: php_test_suite_test

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
